@use "../base/mixins" as *;

.card {
  flex: 1 0 16.4rem;
  position: relative;
  z-index: 1;

  @include mq(tablet) {
    flex: 1 0 22rem;
  }

  @include mq(laptop) {
    flex: 1 0 28rem;
  }

  &-img {
    border-radius: 8px;
  }

  &-description {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    opacity: 0.75;

    &-list {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-media {
      font-size: 1.3rem;
      line-height: 1.6rem;
      font-weight: 300;
    }

    &-image {
      filter: var(--image-color);
    }

    &-title {
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-weight: 500;
      margin-top: 4px;

      @include mq(tablet) {
        font-size: 1.8rem;
        line-height: 2.3rem;
      }
    }
  }

  // TO handle the boorkmark button
  &-bookmark {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    z-index: 2;
    background: rgba(16, 20, 30, 0.5);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;

    @include mq(tablet) {
      top: 1.6rem;
      right: 1.6rem;
    }

    &-img {
      margin: auto;
      margin-top: 9px;
    }
  }
}
