.contnaire-modal {
  padding: 2rem;
  border-radius: 1rem;
  left: 2rem;
  top: 8rem;
  right: 2rem;
  position: absolute;
  background-color: white;
  width: 100px;

  // // bg-white rounded-2xl shadow-2xl p-8 absolute right-8 top-32 left-8 lg:w-96 lg:left-auto lg:top-20
  // -&title{
  //     // border-b border-slate-400 font-bold pb-2 mb-8
  // }
  // -&description{
  //     // flex items-center justify-between
  // }
}
