@use "../base/mixins" as *;

// Nom de la section du carousel
.recommend {
  margin-top: 1.6rem;
  height: 13rem;
  position: relative;

  @include mq(tablet) {
    margin-top: 2.5rem;
    height: 23rem;
  }
}

.swiper {
  &-slide {
    position: relative;
    max-width: 24rem;
    margin-right: 2.4rem;

    @include mq(tablet) {
      margin-right: 4rem;
      max-width: 47rem;
    }

    img {
      width: -webkit-fill-available;
      border-radius: 8px;
    }
  }
}

.slider {
  &-content-text {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    right: 0;
    padding: 0 0 1.6rem 1.6rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
    border-radius: 0 0 0.8rem 0.8rem;

    @include mq(tablet) {
      padding: 0 0 2.4rem 2.4rem;
    }

    .infos {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin-bottom: 0.4rem;

      &-movie::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

// To modify the button
.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev,
.swiper-button-next {
  top: 2.2rem;
  bottom: 0;
  width: 4rem;
  height: 100%;
  color: #1d2026;

  @include mq(tablet) {
    width: 8rem;
  }

  &:hover {
    background: radial-gradient(
      circle,
      rgba(29, 32, 38, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }

  &::after {
    font-size: 1.5rem;
    color: var(--trending-title);
    font-weight: bold;
  }
}
