@use "../base/mixins" as *;

.card {
  width: 220px;
  gap: 4rem;
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
}
.card-description {
  width: 158px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-family: Outfit;
  margin-top: 8px;
  &-list {
    display: flex;
    gap: 1rem;
  }
  &-image {
    //styleName: Body (S);
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
  &-title {
    //styleName: Heading (XS);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
  }
  &-media {
    //styleName: Body (S)
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
  }
}
