
.detail_container{
    display: flex;
    justify-content: center;
    align-items: center;
    .detail{
        background-size: contain;
        background-repeat: no-repeat;
        width: 80%;
        height: 400px;
        padding: 4em; 
        img{
            max-width: 600px;
            border-radius: 14px;
        } 
        h1{
            margin-top: 1em;
            font-size: 3em;
            font-weight: bold;
        }
        .overview{
            margin-top: 1.2em;
        }
        .revenue{
            margin-top: 1em;
        }
    }
}

