@use "../base/mixins" as *;

.navbar {
  @include mq(tablet) {
    margin-top: 2.3rem;
  }

  &-container {
    padding: 1.6rem;
    background-color: var(--background-nav);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(tablet) {
      padding: 2.1rem 1.6rem 1.9rem 2.4rem;
      border-radius: 10px;
    }
  }

  &-logo {
    width: 2.5rem;
  }

  &-links {
    display: flex;
    gap: 2.4rem;
  }

  &-profil {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
  }
}
