@use "./mixins" as *;

:root {
  font-size: 10px;
  font-family: "Outfit", sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.container {
  width: min(100% - 3.2rem, 124rem);
  margin-inline: auto;
}

.nav-container {
  width: min(100% - 0rem, 124rem);
  margin-inline: auto;

  @include mq(tablet) {
    width: min(100% - 5rem, 124rem);
  }
}

// Le button entre les informations des films et séries
.infos-circle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffffff;
}

.light {
  --background: var(--bg-light);
  --background-nav: var(--bg-light-nav);
  --color: var(--text-dark);
  --background-toastify: var(--toastify-color-light);
}

//  --bg-light: #f5f5f5;
// --bg-light-nav: #e0e0e0;
// --text-dark: #10141e;
// --toastify-color-light: #e0e0e0;
// --box-shadow: 0px 16px 30px -10px #4660bb33;
